* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
body {
  background-color: white;
  background-image: url(./assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cardContainer .frontCard {
  width: 100%;
  position: relative;
  top: -100%;
  transform: translateY(-55%);
  left: -40%;
  z-index: 1;
}
.cardContainer .backCard {
  width: 100%;
  position: absolute;
  bottom: -55%;
  left: -20%;
  z-index: 2;
}
.backDigits {
  position: absolute;
  right: 15%;
  top: 43%;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
}
.frontNumber {
  position: absolute;
  width: 100%;
  bottom: 30%;
  left: 50%;
  transform: translateX(-40%);
  color: white;
  font-weight: 400;
}
.frontDate {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: white;
  font-size: 1rem;
  font-weight: 200;
}
.frontName {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
form {
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 0rem;
}
.col-full {
  grid-column-start: 1;
  grid-column-end: 5;
}
.col-quarter {
  grid-column-start: 1;
  grid-column-end: 2;

  margin-right: 1rem;
}
.col-quarter-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-right: 1rem;
}
.col-half {
  grid-column-start: 3;
  grid-column-end: 5;
}
input {
  height: 3rem;
  border-radius: 0.3rem;
  border: 1px solid hsla(279, 6%, 55%, 0.4);
  text-indent: 1rem;
  font-size: 1rem;
}
input:hover {
  cursor: pointer;
}
input:focus {
  border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 20;
  border-radius: 0.3rem;
  border-width: 2px;
  outline: none;
}
input.wrong {
  border: 1px solid hsl(0, 100%, 66%);
}
label {
  position: relative;
  font-size: 1rem;
  margin-bottom: 0;
  height: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.col-half-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  border-radius: 0.5rem;
  height: 3rem;
  margin-top: 2rem;
}
button:hover {
  cursor: pointer;
}
label span {
  position: absolute;
  left: 0.1rem;
  top: 5.1rem;
  color: hsl(0, 100%, 66%);
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: white;
    background-image: url(./assets/bg-main-mobile.png);
    background-size: 110vw;
    background-clip: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
  }
  .page {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }
  .cardContainer {
    width: 100vw;
  }
  .cardContainer .frontCard {
    width: 100%;
    scale: 0.5;
    transform: translateY(80%);
    left: -10%;
    z-index: 2;
  }
  .cardContainer .backCard {
    width: 100%;
    scale: 0.5;
    position: absolute;
    top: -5%;
    left: 1%;
    z-index: 1;
  }
  form {
    margin-top: 2rem;
    width: 80%;
    margin-bottom: 2rem;
  }
  .backDigits {
    top: 26%;
    right: 0%;
  }
}
